{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                // 设置为false, 否则babel会在rollup有机会执行其操作之前导致我们的模块转化为commonjs
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ]
}
